// Colors sections
$primaryColor: #299d91;
$secondaryColor: #525256;
$blackColor: #191919;
$whiteColor: #fff;
$gray1: #666666;
$gray2: #878787;
$gray3: #9f9f9f;
$gray4: #d1d1d1;
$gray5: #e8e8e8;
$gray6: #f3f3f3;
$mainBg:#F4F5F7;
$red:#E73D1C;
$green:#4DAF6E;